<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mapper.integration.IntegrationMapper">
  <resultMap id="BaseResultMap" type="com.model.entity.integration.Integration">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="user" jdbcType="INTEGER" property="user" />
    <result column="grade" jdbcType="INTEGER" property="grade" />
    <result column="type" jdbcType="VARCHAR" property="type" />
    <result column="source" jdbcType="INTEGER" property="source" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
  </resultMap>
  <sql id="Base_Column_List">
    id, user, grade, type, source, create_time
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from integration
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from integration
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.model.entity.integration.Integration">
    insert into integration (id, user, grade, 
      type, source, create_time
      )
    values (#{id,jdbcType=INTEGER}, #{user,jdbcType=INTEGER}, #{grade,jdbcType=INTEGER}, 
      #{type,jdbcType=VARCHAR}, #{source,jdbcType=INTEGER}, #{createTime,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.model.entity.integration.Integration">
    insert into integration
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="user != null">
        user,
      </if>
      <if test="grade != null">
        grade,
      </if>
      <if test="type != null">
        type,
      </if>
      <if test="source != null">
        source,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="user != null">
        #{user,jdbcType=INTEGER},
      </if>
      <if test="grade != null">
        #{grade,jdbcType=INTEGER},
      </if>
      <if test="type != null">
        #{type,jdbcType=VARCHAR},
      </if>
      <if test="source != null">
        #{source,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.model.entity.integration.Integration">
    update integration
    <set>
      <if test="user != null">
        user = #{user,jdbcType=INTEGER},
      </if>
      <if test="grade != null">
        grade = #{grade,jdbcType=INTEGER},
      </if>
      <if test="type != null">
        type = #{type,jdbcType=VARCHAR},
      </if>
      <if test="source != null">
        source = #{source,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.model.entity.integration.Integration">
    update integration
    set user = #{user,jdbcType=INTEGER},
      grade = #{grade,jdbcType=INTEGER},
      type = #{type,jdbcType=VARCHAR},
      source = #{source,jdbcType=INTEGER},
      create_time = #{createTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <select id="integrationList" resultType="com.model.vo.integration.IntegrationListVO">
    SELECT
      SUM(g.`grade`) grade,
      g.`user` `user`,
      u.`nickname` nickname,
      u.`head_url` headUrl
    FROM
     integration g INNER JOIN `user` u ON g.`user`=u.`id`
     GROUP BY g.`user`
     ORDER BY grade DESC
  </select>
  <select id="integrationInfo" resultType="com.model.vo.integration.IntegrationInfoVO">
    SELECT
    id id,
    grade grade,
    TYPE TYPE,
    DATE_FORMAT(create_time,'%Y-%m-%d %T') createTime
    FROM `integration`
    WHERE USER=#{userId}
    ORDER BY createTime
  </select>
</mapper>