<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mapper.order.OrderAccessoryMapper">
  <resultMap id="BaseResultMap" type="com.model.entity.order.OrderAccessory">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="order_id" jdbcType="INTEGER" property="orderId" />
    <result column="url" jdbcType="VARCHAR" property="url" />
    <result column="fileName" jdbcType="VARCHAR" property="filename" />
  </resultMap>
  <sql id="Base_Column_List">
    id, order_id, url, fileName
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from order_accessory
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from order_accessory
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.model.entity.order.OrderAccessory">
    insert into order_accessory (id, order_id, url, 
      fileName)
    values (#{id,jdbcType=INTEGER}, #{orderId,jdbcType=INTEGER}, #{url,jdbcType=VARCHAR}, 
      #{filename,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.model.entity.order.OrderAccessory">
    insert into order_accessory
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="orderId != null">
        order_id,
      </if>
      <if test="url != null">
        url,
      </if>
      <if test="filename != null">
        fileName,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="orderId != null">
        #{orderId,jdbcType=INTEGER},
      </if>
      <if test="url != null">
        #{url,jdbcType=VARCHAR},
      </if>
      <if test="filename != null">
        #{filename,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.model.entity.order.OrderAccessory">
    update order_accessory
    <set>
      <if test="orderId != null">
        order_id = #{orderId,jdbcType=INTEGER},
      </if>
      <if test="url != null">
        url = #{url,jdbcType=VARCHAR},
      </if>
      <if test="filename != null">
        fileName = #{filename,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.model.entity.order.OrderAccessory">
    update order_accessory
    set order_id = #{orderId,jdbcType=INTEGER},
      url = #{url,jdbcType=VARCHAR},
      fileName = #{filename,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <select id="selectByOrderId" resultType="com.model.vo.order.AccessoryVO">
    select
    id id,
    url url,
    filename filename
    from order_accessory
    where order_id=#{orderId}
  </select>
</mapper>