<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mapper.user.UserPositionMapper">
  <resultMap id="BaseResultMap" type="com.model.entity.user.UserPosition">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="user" jdbcType="INTEGER" property="user" />
    <result column="position" jdbcType="INTEGER" property="position" />
  </resultMap>
  <sql id="Base_Column_List">
    id, user, position
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from user_position
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from user_position
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.model.entity.user.UserPosition">
    insert into user_position (id, user, position
      )
    values (#{id,jdbcType=INTEGER}, #{user,jdbcType=INTEGER}, #{position,jdbcType=INTEGER}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.model.entity.user.UserPosition">
    insert into user_position
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="user != null">
        user,
      </if>
      <if test="position != null">
        position,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="user != null">
        #{user,jdbcType=INTEGER},
      </if>
      <if test="position != null">
        #{position,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.model.entity.user.UserPosition">
    update user_position
    <set>
      <if test="user != null">
        user = #{user,jdbcType=INTEGER},
      </if>
      <if test="position != null">
        position = #{position,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.model.entity.user.UserPosition">
    update user_position
    set user = #{user,jdbcType=INTEGER},
      position = #{position,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <select id="selectByUserPosition" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List"/>
    from user_position
    where user=#{user}
    and position=#{position}
  </select>
  <select id="userPositionList" resultType="com.model.vo.position.PositionListVO">
    select
    p.id id,
    r.content rank,
    p.rank rankId,
    p.content content,
    p.weight weight
    from position p
    inner join position_rank r on p.rank=r.id
    inner join user_position u on u.position=p.id
    where u.user=#{userId}
  </select>
</mapper>